<div class="locations online-stores">
        <h1>{{data.online_title | upper }}</h1>
        
        <select name="miles" id="radius" class="miles">
            <option value="NL">Netherlands</option>
            <option value="DE">Germany</option>
        </select>
    <br>
          <h3>Amsterdam</h3>
          <ul>
            {% for store in stores %}
          <li>{{store.name}}</li>
          <li>{{store.zip}}</li>
          <br>
            {% endfor %}
          </ul>
          <h3>Utrecht</h3>
          <ul>
              {% for store in stores %}
              <li>{{store.name}}</li>
              <li>{{store.zip}}</li>
              <br>
                {% endfor %}
        </ul>
</div>